{{> head }}
{{> nav }}

<main class="container">
  <div class="row">
    <div class="col-8 mx-auto my-5">
      <h1 class="display-1 text-center">Error 404</h1>
      <p class="text-center lead">A 404 error indicates that the webpage you're trying to reach can't be found. You might see a 404 error because of a problem with the website, because the page was moved or deleted, or because you typed the URL wrong.
      </p>
    </div>
  </div>
</main>

{{> footer }}
