{{> head}}

<section class="container">
  <form action="/" method="post" >

    {{!-- Every form should have above CSRF Strategy --}}
    <input type="hidden" name="_csrf" value="{{csrfToken}}">

    <label>Client</label>
    <input type="text" name="client">
    <button>Submit</button>
  </form>
</section>

{{> footer}}
