<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="/">Agenda</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      {{#if user}}
        <li class="nav-item">
          <a class="nav-link" href="/contact/index">Add contact</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/login/logout">Logout</a>
        </li>
      {{else}}
        <li class="nav-item">
          <a class="nav-link" href="/login/index">Login</a>
        </li>
      {{/if}}
    </ul>
  </div>
</nav>
